* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  background: #f3f3f3;
}

/* .profile {
    max-width: 1100px;
    width: 100%;
    background: #161D21;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.profile__info {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.profile__info img {
    width: 100%;
    border-radius: 10px;
}

.profile__form {
    max-width: 546px;
    width: 100%;
    background: #fff;
    padding: 32px 16px 16px;
    border-radius: 10px;
}

.profile__form form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 10px;

}
    
.input {
  padding: 10px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background: rgba(16, 68, 131, 0.707);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.Button:hover, button:hover {
  background-color: rgb(165, 55, 55);
  transform: scale(1.05);
} */
